DATABASE_HOSTNAME="db-dev" # put in the docker service name (e.g. db-dev) for the dev environment, and db for the prod environment
DATABASE_PORT="5434" # external db port
DATABASE_PASSWORD=""
DATABASE_USERNAME=""
DATABASE_NAME="agora"
API_PORT=8003 # external API port for the backend
SECRET_KEY = ""
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=760
REFRESH_TOKEN_EXPIRE_MINUTES=1000
GEOSERVER_ADMIN_USER=admin
GEOSERVER_HOSTNAME="geoserver-dev" # put in the docker service name (as above)
GEOSERVER_ADMIN_PASSWORD=""
GEOSERVER_PORT=8383
METABASE_DB_PASSWORD=""